* {
  box-sizing: border-box;
}

/* @import "~antd/dist/antd.css"; */
.alpha-list {
  width: 350px;
  height: 400px;
  padding-right: 4px;
  padding-left: 4px;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}
/* Track 
::-webkit-scrollbar-track {
  background: #f1f1f1;
} */

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

